.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	touch-action: manipulation;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	border-radius: 4px;
	user-select: none;
	cursor: pointer;
}

.btn-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

button.close {
	cursor: pointer;
	padding: 0;
	background: 0 0;
	border: 0;
	-webkit-appearance: none;
}

.close {
	float: right;
	font-size: 21px;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	font-weight: 700;
	opacity: 0.2;
	filter: alpha(opacity=20);
}
