$color-normal-node: #fff;
$color-rich-node: #ffd700;
$color-permanent-node: #238bad;

$navigation-height: 50px;
$navigation-color: #f1f2f2;
$navigation-text-color: #3af;
$navigation-text-hover-color: #019;

$footer-height: 0px;
$footer-color: $navigation-color;

$sidebar-width: 300px;
$sidebar-small-width: 200px;
$sidebar-color: $navigation-color;
